<!DOCTYPE html>
<html lang="en">
{{>head}}

<body>
    {{>navbar}}
    <div class="containerr">
        <img src="imgs/det.jpg" class="ii" alt="" width="100%">
        <div class="all_box centered">
            <div class="sam day_before_yesterday">
                <h3>To Day</h3>
                <div class="data">
                    <div class="deg">
                        <h6>Deg</h6>
                        <p>jkjk</p>
                    </div>
                    <div class="deg">
                        <h6>Fahrenheit</h6>
                        <p>jkjk</p>
                    </div>
                    <div class="emoji">
                        <img src="imgs/sun.png" width="80%" height="100vh" alt="">
                    </div>
                </div>
            </div>
            <div class="sam yesterday">
                <h3>To Day</h3>
                <div class="data">
                    <div class="deg">
                        <h6>Deg</h6>
                        <p>jkjk</p>
                    </div>
                    <div class="deg">
                        <h6>Fahrenheit</h6>
                        <p>jkjk</p>
                    </div>
                    <div class="emoji">
                        <img src="imgs/sun.png" width="80%" height="100vh" alt="">
                    </div>
                </div>
            </div>
            <div class="sam today">
                <h3>To Day</h3>
                <div class="data">
                    <div class="deg">
                        <h6>Deg</h6>
                        <p>jkjk</p>
                    </div>
                    <div class="deg">
                        <h6>Fahrenheit</h6>
                        <p>jkjk</p>
                    </div>
                    <div class="emoji">
                        <img src="imgs/sun.png" width="80%" height="100vh" alt="">
                    </div>
                </div>
            </div>
            <div class="sam tomorrow">
                <h3>To Day</h3>
                <div class="data">
                    <div class="deg">
                        <h6>Deg</h6>
                        <p>jkjk</p>
                    </div>
                    <div class="deg">
                        <h6>Fahrenheit</h6>
                        <p>jkjk</p>
                    </div>
                    <div class="emoji">
                        <img src="imgs/sun.png" width="80%" height="100vh" alt="">
                    </div>
                </div>
            </div>
            <div class="sam day_after_tomorrow">
                <h3>To Day</h3>
                <div class="data">
                    <div class="deg">
                        <h6>Deg</h6>
                        <p>jkjk</p>
                    </div>
                    <div class="deg">
                        <h6>Fahrenheit</h6>
                        <p>jkjk</p>
                    </div>
                    <div class="emoji">
                        <img src="imgs/sun.png" width="80%" height="100vh" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{>footer_links}}
</body>
