<!DOCTYPE html>
<html lang="en">
{{>head}}

<body>
  {{>navbar}}
  <div class="row rain-container">
    <div id="img" class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <img src="imgs/welcome.jpg" class="img_welcome" alt="">
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 content_welcome" id="het">
      <h2>hello</h2>
    </div>
  </div>
  {{>footer_links}}
</body>

</html>