<!DOCTYPE html>
<html lang="en">
{{>head}}
{{>navbar}}
<body class="tt">
    <div class="main_box_login">
        <div class="login_img">
            <img src="imgs/login.jpg" class="abc" alt="">
        </div>
        <div class="login_data">
            <form action="/sign_in" method="post" class="login_input_data">
                <label for="">Email</label>
                <input type="text" id="email" name="login_email" placeholder="Enter A Valid E-Mail Address">
                <label for="">Password</label>
                <input type="text" id="login_password" name="login_pwd" placeholder="Give A Password">
                <div>
                    <button type="submit" class="login">Login</button>
                    <button type="button" class="register">Register</button>
                </div>
            </form>
        </div>
    </div>
    {{>footer_links}}
</body>