<!DOCTYPE html>
<html lang="en">
{{>head}}
<body>
  {{>navbar}}
  <div class="main_box_weather">
    <img src="imgs/weather.jpg" class="weather_image" alt="">
    <div class="input_box">
      <form action="">
        <input type="text" placeholder="Enter City Name" id="city_name" class="city_name">
      </form>
      <div class="okay">
        <button class="btn weather_button">Go</button>
      </div>
    </div>
  </div>
  {{>footer_links}}
</body>