<div>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="imgs/snowflake.png" width="30px" height="30px" alt="" class="bsdk">
          Weather Forecast <img src="imgs/snowflake.png" width="30px" height="30px" alt="" class="bsdk"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/welcome" data-aos="fade-up"
                data-aos-duration="1000"><span class="box_welcome">Welcome</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link box_welcome" href="/weather" data-aos="fade-up"
                data-aos-duration="1500"><span class="box_welcome">Weather</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link box_welcome" href="/details" data-aos="fade-up"
                data-aos-duration="2000"><span class="box_welcome">Details</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link box_welcome" href="/sign_in" data-aos="fade-up" data-aos-duration="2500"><span class="box_welcome">Sign
                in</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link box_welcome" href="/registration" data-aos="fade-up"
                data-aos-duration="3000"><span class="box_welcome">Registration</span></a>
            </li>
          </ul>
          <a class="navbar-brand" href="#"><img src="imgs/weather-forecast.png" width="60px" height="60px"
              alt="Right Logo"></a>
        </div>
      </div>
    </nav>
  </div>